@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

@font-face {
    font-family: Darkness;
    src: url(../img/fonts/cw_oldwd.ttf)
}

@font-face {
    font-family: Akira;
    src: url(../img/fonts/AKIRA___.ttf)
}

@font-face {
    font-family: Bergel;
    src: url(../img/fonts/BERGELL.TTF)
}

 /* Variáveis */
:root {
    --cor-primaria: #1B1A17;
    --cor-secundaria: #B4B4B3;
    --cor-terciaria: white;
    --cor-hover: #272727;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --fonte-terciaria: Darkness;
    --fonte-quarternaria: Bergel;
    --fonte-quinternaria: Akira;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

/* Display das barrinhas da navbar "hamburger" */
.hamburger {
    display: none;
}

/* Barras */
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

/* Display da lista dos links */
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Display do link */
.nav-item {
    margin-left: 5rem;
}

/* Link */
.nav-link{
    font-size: 1.75rem;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
    font-family: var(--fonte-quinternaria);
}

/* Hover dos itens */
.nav-item:hover{
    transform: scale(1.1);
}

/* Botão Home na navbar */
.nav-logo {
    font-size: 1.75rem;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
    font-family: var(--fonte-quinternaria);
}

/* Hover do home */
.nav-logo:hover{
    transform: scale(1.1);
}


a {
    text-decoration: none;
    color: white;
}

.bg_img {
    background-image: url(../img/bg_charCreate.jpg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    z-index: 1;
}

.fade {
    background-color: rgba(0, 0, 0, .5);
    z-index: 2;
    width: 100%;
    height: 100%;
    position: fixed;
}

.base_centro{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -45%);
    color: #ffffff;
    width: 85%;
    height: 85%;
    background-color: rgba(11, 20, 45, .7);
    border: 4px solid #0b1f46;
    border-radius: 10px;
    padding: 20px;
}

.centro {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.header{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 100vw;
    gap: 12vw;
    overflow: hidden;
    z-index: 3;
    top: 2%;
}


.tbody {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    border:  tomato;
}

.tbody p{
    text-align: center;
}

p {
    text-align: start;
}

.bbody {
    border:   red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.aside {
    border: green;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.content_column {
    display: flex;
    flex-direction: column;
}

.content_rows {
    display: flex;
    flex-direction: row;
}

/* collapsible start */
.collapsible {
    background-color: #eee;
    padding: 10px;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    box-sizing: border-box;
}

.content {
    display: none;
    padding: 10px;
    width: 340px;
}

.card {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 340px;
}

.collapsible {
    background-color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    width: 100%;
    box-sizing: border-box;
}

.active {
    display: block;
}

/* tolltip */

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

  /* Dica */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 125px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: fixed;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

li img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: purple;
}

li img:hover {
    transform: scale(1.1);
}

.dinamico, .padrao, .primordial, .investigador{
    background-color: white;
    color: black;
    height: 200px;
    width: 500px;
    background-color: rgba(255, 255, 255, 1);
    border: 4px solid #0b1f46;
    border-radius: 10px;
    text-align: center;
    padding: 10px;

}

.primordial, .investigador{
    height: 235px;
}

.essences {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

p a {
    color: purple;
    font-weight: 600;
}

.navigate_buttn {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigate_buttn button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px; /* Ajuste a largura do botão conforme necessário */
    height: 25px; /* Ajuste a altura do botão conforme necessário */
    padding: 5px;
    margin: 2px;
    cursor: pointer;
    border: none;
    border-radius: 20%;
}

.navigate_buttn button span {
    font-size: 18px; /* Ajuste o tamanho da fonte conforme necessário */
}

li a button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px; /* Ajuste a largura do botão conforme necessário */
    height: 25px; /* Ajuste a altura do botão conforme necessário */
    padding: 5px;
    border-radius: 50%;
    margin: 2px;
    cursor: pointer;
    border: none;
}