@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

@font-face {
    font-family: Darkness;
    src: url(../img/fonts/cw_oldwd.ttf)
}

@font-face {
    font-family: Akira;
    src: url(../img/fonts/AKIRA___.ttf)
}

@font-face {
    font-family: Bergel;
    src: url(../img/fonts/BERGELL.TTF)
}


:root {
    --cor-primaria: #1B1A17;
    --cor-secundaria: #B4B4B3;
    --cor-terciaria: white;
    --cor-hover: #272727;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --fonte-terciaria: Darkness;
    --fonte-quarternaria: Bergel;
    --fonte-quinternaria: Akira;
}

.userProfileImage {
    color: #FFFFFF;
    width: 150px;
    height: 150px; 
    border: 4px solid #0b1f46;
    border-radius: 10px;
    position: fixed;
    margin-left: 20px;
    margin-top: 25px;
    /* background-image: url(../img/bgPhoto.png); */
    background-size: 150px;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Display inteiro do "modal" */
.profileElements {
    position: absolute;
    color: #FFFFFF;
    width: 650px;
    height: 400px;
    display: flex;
    background-color: #0b142d;
    border-radius: 10px;
    opacity: 0.9;
    border: 4px solid #0b1f46;
}

/* Display da parte de personagens e crônicas*/
.profileElements section {
    display: flex;
    background-color: #0b1f46;
    margin-top: 190px;
    margin-left: 90px;
    justify-content: center;
    gap: 120px;
    min-width: 420px;
    height: 180px;
    border-radius: 10px;
    font-family: var(--fonte-secundaria);
    font-size: 16px;
    font-weight: 550;
}

/* Texto "personagem/cronicas" */
.profileElements section p {
    margin-top: 15px;
}

/* Display do botao desconectar */
.profileElements a {
    color: #FFFFFF;
    display: block;
    margin-top: 340px;
    margin-left: -579px;
    padding-block: 4px;
    cursor: pointer;
    background-color: #5174c5;
    width: 120px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #9db4e9;
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    font-weight: 550;
    text-decoration: none;
}

/*Display do usuario, trocar usuario*/
.profileElements form.usuarioInfo {
    display: block;
    padding-top: 5px;
    background-color: #0b1f46;
    width: 420px;
    height: 150px;
    border-radius: 10px;
    position: absolute;
    top: 25px;
    margin-left: 190px;
    overflow: hidden;
}

/* Texto "Usuário" no display do usuario*/
.profileElements form.usuarioInfo label{
    display: block;
    padding-top: 10px;
    margin-left: 20px;
    font-family: var(--fonte-secundaria);
    font-size: 16px;
    font-weight: 550;
}

/* Botao "Imagem" abaixo da imagem de perfil*/
.profileElements div.arquivoImagem{
    color: #FFFFFF;
    display: block;
    margin-top: 200px;
    padding-block: 3px;
    margin-left: 20px;
    font-family: var(--fonte-secundaria);
    cursor: pointer;
    background-color: #5174c5;
    width: 80px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #9db4e9;
    font-size: 1rem; 
    font-weight: 550; 
}

/* Aparecer a maozinha quando passa o mouse em cima do botao "imagem"*/
.profileElements div.arquivoImagem label{
    cursor: pointer;
}

/* Botão de salvar a imagem */
.profileElements div.arquivoImagem form button{
    color: #FFFFFF;
    display: block;
    margin-left: 80px;
    margin-top: -25px;
    padding: 5px 5px 5px 5px;   
    background-color: #5174c5;
    border-radius: 10px;
    border: 2px solid #9db4e9;
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    font-weight: 550;
    cursor: pointer;
}

/* Botão do tipo de arquivo para inserir a imagem de perfil*/
.profileElements input[type="file"] {
    display: none;
}

/* Input para colocar o seu  usuário*/
.profileElements form.usuarioInfo input{
    display: block;
    margin-left: 20px;
    margin-block: 5px;
    color: #fff;
    background-color: #5174c5;
    border-radius: 8px;
    font-family: var(--fonte-secundaria);
    font-size: 12px;
    font-weight: 550;
    border-color: #9db4e9;
}



/* Botão de salvar o usuário*/
.profileElements form.usuarioInfo button{
    color: #FFFFFF;
    display: block;
    margin-left: 330px;
    margin-top: 45px;
    padding: 5px 5px 5px 5px;   
    background-color: #5174c5;
    border-radius: 10px;
    border: 2px solid #9db4e9;
    font-family: var(--fonte-secundaria);
    font-size: 16px;
    font-weight: 550;
    cursor: pointer;
}

/* Nav Bar */
.container {
    position: absolute;
    margin: 0 1vh 0 0;
    z-index: 2;
    background-color: rgba(11, 20, 45, 0.8);
    height: 8vh;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #0b1f46;
}

.topnav {
overflow: hidden;
width: 100vw;
display: flex;
gap: 12vw;
justify-content: center;
}
  

.topnav a {
float: left;
color: #FFFFFF;
text-align: center;
text-decoration: none;
font-size: 1.75rem;
font-family: var(--fonte-quinternaria);

}
  
.topnav a:hover {
transform: scale(1.2);
}

body {
    background-color: black;
}

#background_image {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    background-image: url(../img/bgProfile.jpg);
    z-index: -1;
}