@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

@font-face {
    font-family: Darkness;
    src: url(../img/fonts/cw_oldwd.ttf)
}

@font-face {
    font-family: Akira;
    src: url(../img/fonts/AKIRA___.ttf)
}

@font-face {
    font-family: Bergel;
    src: url(../img/fonts/BERGELL.TTF)
}

 /* Variáveis */
:root {
    --cor-primaria: #1B1A17;
    --cor-secundaria: #B4B4B3;
    --cor-terciaria: white;
    --cor-hover: #272727;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --fonte-terciaria: Darkness;
    --fonte-quarternaria: Bergel;
    --fonte-quinternaria: Akira;
}

body {
    height: 100vh;
}

/* Visual */
.config {
    display: none;
    height: 100vh;
}

/* Visual selecionado */
.config.selecionado{
    display: flex;
}

/* Imagem de Fundo */
.bg_img {
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* Para a imagem nao se esticar toda */
}

/* Display do texto da parte visual */
.conteudo {
    position: absolute;
    top: 60%;
    left: 12%;
    display: flex;
    flex-direction: column;
    min-height: 10vh;
    max-width: 100vw;
    z-index: 1;
}

/* Título do texto da parte visual */
.setting {
    color: #ffffff;
    font-family: "Bergel";
    font-size: 2.8125rem;
    line-height: 2rem;
    max-width: 100vw;
    margin-bottom: 2rem;
}

/* Descrição do texto da parte visual */
.descricao {
    color: #ffffff;
    font-family: "Rubik";
    line-height: 1.75rem;
    max-width: 40vw;
    font-size: 1.125rem;
}

/* Botões laterais, que selecionam a parte visual */
.button_list {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 180px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: rgba(0, 0, 0, 0.3);
}

/* Display dos botões laterais */
.button_icon {
    border: none;
    background: #000000;
    cursor: pointer;
    border-radius: 50%;
}

/* Transform do botão lateral selecionado */
.button_icon.selecionado {
    transform: scale(1.2);
    box-shadow: 0 0 10px var(--cor-primaria);
}

/* Tamanho dos botões laterais */
.icon {
    border-radius: 50%;
    width: 90px;
    height: 86px;
}

#esquerda {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/* Display da navbar */
.header{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 100vw;
    gap: 12vw;
    overflow: hidden;
    z-index: 2;
    top: 2%;
}

/* Display dos links da navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

/* Display das barrinhas da navbar "hamburger" */
.hamburger {
    display: none;
}

/* Barras */
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

/* Display da lista dos links */
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Display do link */
.nav-item {
    margin-left: 5rem;
}

/* Link */
.nav-link{
    font-size: 1.75rem;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
    font-family: var(--fonte-quinternaria);
}

/* Hover dos itens */
.nav-item:hover{
    transform: scale(1.1);
}

/* Botão Home na navbar */
.nav-logo {
    font-size: 1.75rem;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
    font-family: var(--fonte-quinternaria);
}

/* Hover do home */
.nav-logo:hover{
    transform: scale(1.1);
}
