@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

@font-face {
    font-family: Darkness;
    src: url(../../imgs/fonts/cw_oldwd.ttf)
}

@font-face {
    font-family: Akira;
    src: url(../../imgs/fonts/AKIRA___.ttf)
}

@font-face {
    font-family: Bergel;
    src: url(../../imgs/fonts/BERGELL.TTF)
}


:root {
    --cor-primaria: #1B1A17;
    --cor-secundaria: #B4B4B3;
    --cor-terciaria: white;
    --cor-hover: #272727;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --fonte-terciaria: Darkness;
    --fonte-quarternaria: Bergel;
    --fonte-quinternaria: Akira;
}

.config {
    display: none;
    height: 100hv;
}

.config.selecionado{
    display: flex;
}

.bg_img {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    width: auto;
    height: auto;
    background-size: cover;
}

.conteudo {
    position: absolute;
    top: 0;
    left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 620px;
    z-index: 1;
}

.setting {
    color: #ffffff;
    font-family: "Rubik";
    line-height: 24px;
    max-width: 600px;
}

.descricao {
    color: #ffffff;
    font-family: "Rubik";
    line-height: 24px;
    max-width: 600px;
}

.logo {
    background-image: url("../src/img/SymbolWoD5e.webp");
    background-size: 200px;
    height: 200px;
    width: 200px;
    margin-bottom: 80px;
}

.button_list {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 180px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: rgba(0, 0, 0, 0.3);
}

.button_icon {
    border: none;
    background: #000000;
    cursor: pointer;
    border-radius: 50%;
}

.button_icon.selecionado {
    transform: scale(1.2);
    box-shadow: 0 0 10px var(--cor-primaria);
}

.icon {
    border-radius: 50%;
    width: 90px;
    height: 86px;
}


/* Nav Bar */
.container {
    position: absolute;
    margin: 20px;
    width: auto;
    z-index: 2;
  }
  
.topnav {
overflow: hidden;
}
  

.topnav a {
float: left;
color: #FFFFFF;
text-align: center;
padding: 14px 75px;
text-decoration: none;
font-size: 1.75rem;
font-family: var(--fonte-quinternaria);
}
  
.topnav a:hover {
transform: scale(1.1);
}