@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

@font-face {
    font-family: Darkness;
    src: url(../src/img/fonts/cw_oldwd.ttf)
}

@font-face {
    font-family: Akira;
    src: url(../src/img/fonts/AKIRA___.ttf)
}

@font-face {
    font-family: Bergel;
    src: url(../src/img/fonts/BERGELL.TTF)
}


:root {
    --cor-primaria: #1B1A17;
    --cor-secundaria: #B4B4B3;
    --cor-terciaria: white;
    --cor-hover: #272727;
    --cor-werewolf: #94EB81;
    --cor-vampire: #FF464C;
    --cor-mage: #AB5BC7;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --fonte-terciaria: Darkness;
    --fonte-quarternaria: Bergel;
    --fonte-quinternaria: Akira;
}

body {
    overflow: hidden;
}

.container {
    position: absolute;
    margin: 20px;
    width: auto;
    z-index: 2;
  }
  
  /* The navbar */
  .topnav {
    overflow: hidden;
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 75px;
    text-decoration: none;
    font-size: 1.75rem;
    font-family: var(--fonte-quinternaria);
  }
  
  .topnav a:hover {
    transform: scale(1.1);
  }

main::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 80vw;
    background: linear-gradient(-233deg, #000 40%, rgba(0, 0, 0, 0) 65%) no-repeat;
}

main .personagem {
    display: none;
    height: 100vh;
}

main .personagem.selecionado {
    display: block;
}

main .personagem .imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

.conteudo {
    position: absolute;
    top: 0;
    left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 620px;
    z-index: 1;
}

.conteudo .nome-personagem {
    color: #ffffff;
    font-size: 48px;
    font-family: "Secular One";
    font-weight: 400;
    margin-bottom: 20px;
}

.conteudo .descricao {
    color: #ffffff;
    font-family: "Rubik";
    line-height: 24px;
}

.conteudo .logo {
    background-image: url("../src/img/SymbolWoD5e.webp");
    background-size: 200px;
    height: 200px;
    width: 200px;
    margin-bottom: 80px;
}

.botoes {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 180px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: rgba(0, 0, 0, 0.3);
}

.botoes .botao {
    border: none;
    background: #000000;
    cursor: pointer;
    border-radius: 50%;
}

.botoes .botao img {
    border-radius: 50%;
}

.botoes .botao.selecionado {
    transform: scale(1.2);
    box-shadow: 0 0 10px var(--cor-primaria);
}

.new_img {
    width: 90px;
    height: 86px;
}

.new_wpp {
    width: 1920px;
    height: 1200px;
}
