@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

@font-face {
    font-family: Darkness;
    src: url(../assets/cw_oldwd.ttf)
}

@font-face {
    font-family: Akira;
    src: url(../assets/AKIRA___.ttf)
}

@font-face {
    font-family: Bergel;
    src: url(../assets/BERGELL.TTF)
}


:root {
    --cor-primaria: #1B1A17;
    --cor-secundaria: #B4B4B3;
    --cor-terciaria: white;
    --cor-hover: #272727;
    --cor-werewolf: #94EB81;
    --cor-vampire: #FF464C;
    --cor-mage: #AB5BC7;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --fonte-terciaria: Darkness;
    --fonte-quarternaria: Bergel;
    --fonte-quinternaria: Akira;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);

}

.navegacao_itens {
    display: flex;
    gap: 5%;
    padding-bottom: 1%;
    border-bottom-style: solid;
    border-width: 2px;
    background-color: black;
}

.navegacao_itens_link {
    font-family: var(--fonte-quinternaria);
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    padding: 2% 0 0 8%;
    text-decoration: none;
}

main {
    box-sizing: border-box;
    overflow: hidden
}

img {
    height: 90%;
    width: 100%;
    border-radius: 2%;
}

.main_display {
    display: flex;
    width: 100%;
    overflow: hidden

}

.main_werewolf {
    display: block;
    margin-top: 3%;
    padding: 1%;
}

.main_werewolf_title {
    margin-bottom: 2%;
    text-align: center;
    font-family: var(--fonte-Akira);
    color: var(--cor-werewolf);
    font-weight: 1000;
    font-size: 1.75rem;
}

.main_vampire {
    display: block;
    margin-top: 3%;
    padding: 1%;
}

.main_vampire_title {
    margin-bottom: 2%;
    text-align: center;
    font-family: var(--fonte-Akira);
    color: var(--cor-vampire);
    font-weight: 1000;
    font-size: 1.75rem;
}

.main_mage {
    display: block;
    margin-top: 3%;
    padding: 1%;
}

.main_mage_title {
    margin-bottom: 2%;
    text-align: center;
    font-family: var(--fonte-Akira);
    color: var(--cor-mage);
    font-weight: 1000;
    font-size: 1.75rem;
}

.main_mage:hover {
    background-image: url(assets/imagemtempMAGE.jpg);
}

/* .button_mage {
    border: 0;
    padding: 10px;
    width: 200px;
    height: 50px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
}

h1_modal {
    margin-bottom: 1rem;
} */

button {
    padding: .6rem 1.2rem;
    background-color: whitesmoke;
    color: black;
    border-radius: .25rem;
    cursor: pointer;
    opacity: .8;
    font-size: 1rem;
    transition: .4s;
}

